.sidebar-wrapper{
  .site-nav{
    background-color: rgba(0, 145, 255, 0.926) !important;
  }
  .my-photo {
    position: relative;
    margin: 30px auto 20px;
    max-width: 110px;
    text-align: center;
    z-index: 0;
  }
}